body {
    margin: 0;
}

header {
    width: 100%;
    height: 8vw;
    background-color: peachpuff;
    text-align: center;

}

header h1 {
    padding-top: 1.6vw;
}

nav {
    margin-top: -0.9vw;
    height: 30vw;
    width: 30%;
    background-color: lightpink;
}

.info {
    margin-left: 30vw;
    margin-top: -30.8vw;
    background-color: lightblue;
    height: 30vw;
}

footer {
    width: 100%;
    height: 14.6vw;
    background-color: peachpuff;
    margin-top: -3vw;
    text-align: center;
}